body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}
.head .container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-around;
}
.container nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
.container nav ul {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo:hover {
  color: #404bbf;
}
.logo:active {
  color: #404bbf;
}
.studio-header {
  color: #2e2f42;
}
.studio-footer {
  color: #f4f4fd;
}
.menu-studio {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.menu-studio:hover {
  color: #404bbf;
}
.menu-studio:active {
  color: #404bbf;
}
.menu-studio:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts ul {
  display: flex;
  gap: 40px;
}
.contacts .contact-links {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.contact-links:hover {
  color: #404bbf;
}
.contact-links:active {
  color: #404bbf;
}
.contact-links:focus {
  color: #404bbf;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}
.button-text:hover {
  background-color: #404bbf;
}
.button-text:focus {
  background-color: #404bbf;
}
.button-text:active {
  background-color: #404bbf;
}
.about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about .container ul {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}
.about .container ul li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.mini-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  background: #f4f4fd;
}
.team .container ul {
  display: flex;
  gap: 24px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
  background-color: #ffffff;
}
.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.section-portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-portfolio .container .portfolio {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.parts-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.site-footer {
  background-color: #2e2f42;
}
.last-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.site-footer .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
